<h1>Pages</h1>

<a class="createNewPage" href="<%= presenter.create_new_page_path %>">Create new page</a>

<main>
  <% presenter.pages.each do |page| %>
    <article class="pageEntry">
      <h1 class="pageEntry-title"><%= link_to page.title, page.path %></h1>
    </article>
  <% end %>
</main>
