/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 48px;
}

h1 {
  font-weight: normal;
}

.createNewPage {
  display: inline-block;
  padding: 16px 0;
}

main {
  display: grid;
  row-gap: 1.4em;
}

.pageEntry-title {
  font-weight: normal;
  margin: 0;
  font-size: 1.2em;
}

.pageEntry-title a {
  color: inherit;
}

.pathPrefix {
  color: rgba(0,0,0,.6);
}